body {
  background-color: #Fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.dark-theme {
  background-color: #0D0D1A;
  color: #8899BB;
}
 
#theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  width:max-content;
  display:flex;
  align-items:center;
  padding: 14px;
  border-radius: 28px;
  background-color: #f6f6f6
}

.search-input {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
}

.search-input::placeholder,
.search-icon  {
    color: rgba(0,0,0,0.25);
}

#favourites-filter {
  appearance: none;
  height: 32px;
  width: 32px;
  border: 2px solid #AAC1F0;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  place-content: center
}

#favourites-filter::before {
  content: '';
  background-color: #AAC1F0;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  box-shadow: 0 0 8px #AAC1F08a;
  background-image: url('/check.svg');
  background-size: cover;
  background-position: center;
  rotate: -360deg;
  scale: 0;
  opacity: 0;
  transition: 200ms ease;
}

#favourites-filter:checked::before {
  rotate: 0deg;
  scale: 1;
  opacity: 1;
}

#favourites-filter:focus-visible {
  outline: 2px solid #AAC1F0;
  outline-offset: 2px;
}

.filter {
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #333;
  outline: none;
}

#countries-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

article {
  width: 200px;
  height: auto;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #F0EEFF;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  position: relative
}

body.dark-theme article {
  background-color: #12122A;
  border: 0.5px solid #3A005C;
}

article h2 {
  font-size: 1rem;
  margin: 0 0 5px 0;
  min-height: 2.5rem;
}

article img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

article button {
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

